<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 text-center">
                <img src="../assets/img/wlogo.png" style="width:60%" />
                <p class="text-center py-3">Sign up to receive weekly world-class career tips, interview tricks, and career advice to your inbox.
                </p>
                <div class="position-relative w-100 mt-3">
                    <input class="form-control border-0 rounded-pill w-100 ps-4 pe-3" type="text"
                        placeholder="Your Email" style="height: 48px;">
                    <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                            class="fa fa-paper-plane text-primary fs-4"></i></button>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="text-white mb-4">Quick Link</h5>
                <a class="btn btn-link" href="">Home</a>
                <a class="btn btn-link" href="#service">Services</a>
                <a class="btn btn-link" href="#team">Our Team</a>
                <a class="btn btn-link" href="#features">Why Career Scripters</a>
                <a class="btn btn-link" href="#contact">Contact US</a>
            </div>
            <div class="col-md-3 col-6">
                <h5 class="text-white mb-4">Learn More</h5>
                <a class="btn btn-link" href="#about_us">About Us</a>
                <a class="btn btn-link" href="#mission">Our Mission</a>
                <a class="btn btn-link" routerLink="/privacy-policy">Privacy Policy</a>
                <a class="btn btn-link" routerLink="/terms-and-conditions">Terms & Condition</a>
                <a class="btn btn-link" href="#standards">Standards</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-12 text-center mb-3 mb-md-0">
                    <a class="" href="#">Copyrights © 2020 Career
                        Scripters</a>, All Right Reserved.<br />
                    <a class="text-white" routerLink="/terms-and-conditions">Terms of Use</a>
                    |
                    <a class="text-white" routerLink="/privacy-policy"> Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</div>