<div class="container-xxl py-2" id="features">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="text-center my-5">Why People Choose Us?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row g-5">
                    <div class="col-sm-6 col-md-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="why_us_boxes">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <span class="text-white">1</span>
                                </div>
                                <h6 class="mb-0">Quality Assurance</h6>
                            </div>
                            <span>We aim to deliver a 100% error-free document before sending it. Every order is
                                proofread
                                thoroughly and run through Premium Grammarly to ensure no spelling/grammatical
                                mistakes.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="why_us_boxes">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <span class="text-white">2</span>
                                </div>
                                <h6 class="mb-0">Prompt Delivery</h6>
                            </div>
                            <span>We usually provide a turnaround time of 2 to 3 days for each order, but we can
                                also
                                accept
                                24-hour rush orders. Moreover, we are open to receive and easily manage multiple
                                orders
                                simultaneously.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="why_us_boxes">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <span class="text-white">3</span>
                                </div>
                                <h6 class="mb-0">Unlimited Revision</h6>
                            </div>
                            <span>We offer unlimited revisions until clients complete satisfaction. In addition, we
                                provide
                                full backend support during the revision process to ensure that your reputation is
                                not
                                compromised.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 wow fadeIn" data-wow-delay="0.4s">
                        <div class="why_us_boxes">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <span class="text-white">4</span>
                                </div>
                                <h6 class="mb-0">Reliable Services</h6>
                            </div>
                            <span>We have a trained and experienced team of professionals to deliver competent
                                services.
                                We
                                operate 24x7x365, so you can reach out to us whenever you want to. Our professionals
                                are
                                skilled in customer care, order fulfillment, and query resolution.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="why_us_boxes">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <span class="text-white">5</span>
                                </div>
                                <h6 class="mb-0">Fair Pricing Model</h6>
                            </div>
                            <span>We operate a fair pricing model, so all of our services are offered at very
                                reasonable
                                rates. But we aim to nurture lucrative partnerships with our clients, so even if we
                                charge
                                affordable pricing, we never compromise on the order quality.</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="why_us_boxes">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <span class="text-white">6</span>
                                </div>
                                <h6 class="mb-0">Resume Formats</h6>
                            </div>
                            <span>We have a huge database of ATS, modern, and info-graphical resume templates to
                                choose
                                from. However, we can even stick to your designed specific resume templates on your
                                request.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>