<div class="container-xxl">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="../assets/img/agency-img.jpg">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" id="mission">
                <h2 class="mb-4">Our Mission</h2>
                <p>CareerScripters strives to be a worldwide employee service brand with unmatched
                    customer service and an excellent track record for helping working professionals land highly
                    sought-after industry positions.<br /><br />

                    Our mission is to deliver exceptional backend writing support to CPRWs, NPRWs, and top-notch
                    resume writing brands. We strive to seamlessly accomplish the entire process from first drafts
                    to their completion, including lifetime email support.
                </p>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" id="about_us">
                <h2 class="mb-4">About Us</h2>
                <p class="mb-4">CareerScripters partners with top-notch resume writing companies and Certified
                    Professional Resume Writers (CPRWs) to deliver high-quality resume outsourcing services at
                    affordable rates.<br /><br />

                    We build our team by hiring top-notch, talented content writers from all industries and giving
                    them comprehensive in-house training. As a result, we empower them to deeply understand the job
                    descriptions of various clients ranging from entry-level to C-suite executives within diverse
                    sectors.<br /><br />

                    Customer satisfaction is the vital key to grow business and increase referrals. We genuinely
                    care about the reputation of our client's business and strive to ensure the satisfaction of
                    every client as our top priority.<br /><br />

                    We are currently partnered with 20+ international resume writing and recruitment companies in
                    the US, Canada, Australia, UAE, KSA, and Europe.</p>

                <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="#team">Read More</a>
            </div>
            <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="../assets/img/blog2.jpg">
            </div>
        </div>
    </div>
</div>