<div class="container-xxl py-3">
    <div class="container">
        <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 class="mt-5">Our Services</h2>
        </div>
    </div>
</div>
<div class="wrap wrap-defaults row">
    <!--Box 1-->
    <div class="box-rotate-wrap col-xl-3 col-lg-4 col-md-6">
        <div class="box box-rotate box-rotate-left">
            <div class="front">
                <img src="../assets/img/resume.jpg" style="height:auto; width:100%; border-radius:4px;" alt="">
            </div>
            <div class="left">
                <h4 class="font-500 white-color">Resume Writing Services</h4>
                <p class="  font-200 mt-2 white-color" style="font-size:15px">1. Entry Level</p>
                <p class=" font-200 mt-2 white-color" style="font-size:15px">2. Mid Career </p>
                <p class=" font-200 mt-2 white-color" style="font-size:15px">3. Executive/C-Suite
                </p>
                <p class=" font-200 mt-2 white-color" style="font-size:15px">4. Career Change </p>
                <p class=" font-200 mt-2 white-color" style="font-size:15px">5. Academic CV</p>
            </div>
        </div>
    </div>
    <!--Box 1 end-->
    <!--Box 2-->
    <div class="box-rotate-wrap col-xl-3 col-lg-4 col-md-6">
        <div class="box box-rotate box-rotate-left">
            <div class="front">
                <img src="../assets/img/linkedin.jpg" style="height:auto; width:100%; border-radius:4px;" alt="">
            </div>
            <div class="left">
                <h4 class="font-500 white-color">Linkedin Profile Optimization</h4>
                <p class="  font-200 mt-2 white-color" style="font-size:15px">1. SEO Optimized
                    Content</p>
                <p class=" font-200 mt-2 white-color" style="font-size:15px">2. High Profile Ranking
                </p>
                <p class=" font-200 mt-2 white-color" style="font-size:15px">3. Access to %70+
                    Companies</p>

            </div>
        </div>
    </div>
    <!--Box 2 end-->
    <!--Box 3-->
    <div class="box-rotate-wrap col-xl-3 col-lg-4 col-md-6">
        <div class="box box-rotate box-rotate-left">
            <div class="front">
                <img src="../assets/img/cover.jpg" style="height:auto; width:100%; border-radius:4px;" alt="">
            </div>
            <div class="left">
                <h4 class="font-500 white-color">Cover letters</h4>
                <ul>
                    <p class="font-200 mt-2 white-color">1. Generic (Applicable for Multiple
                        Postings)</p>

                    <p class="font-200 mt-2 white-color">2. Customized (For Specific Positions &amp;
                        Internal Promotions) </p>

                    <h5 class="font-500 white-color">Compelling Executive Biography </h5>

                </ul>
            </div>
        </div>
    </div>
    <!--Box 3 end-->
    <!--Box 4-->
    <div class="box-rotate-wrap col-xl-3 col-lg-4 col-md-6">
        <div class="box box-rotate box-rotate-left">
            <div class="front">
                <img src="../assets/img/federal.jpg" style="height:auto; width:100%; border-radius:4px;" alt="">
            </div>
            <div class="left">
                <h4 class="font-600 white-color">Federal Resume Writing</h4>

                <p class="font-200 mt-2 white-color">1. GS-4 and Below</p>

                <p class="font-200 mt-2 white-color">2. GS-5/7/9</p>

                <p class="font-200 mt-2 white-color">3. GS-10/11/12</p>

                <p class="font-200 mt-2 white-color">4. GS-13/14/15 </p>
            </div>
        </div>
    </div>
    <!--Box 4 end-->