<div class="container-xxl bg-primary hero-header mb-5">
    <div class="container-fluid px-5">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="text-white mb-4 animated zoomIn">Grow More By Outsourcing Your Resume Writing
                    Work to Us!</h1>
                <a href="#service"
                    class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">Learn
                    More</a>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <img class="img-fluid animated zoomIn" src="../assets/img/hiring.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- About Start -->
<app-about></app-about>
<!-- About End -->

<!-- Service Start -->
<app-services id="service"></app-services>
<!-- Service End -->


<!-- Features Start -->
<app-features></app-features>
<!-- Features End -->
<!-- Counter Section section start from here -->
<div id="projectFacts" class="sectionClass">
    <div class="fullWidth eight columns">
        <div class="projectFactsWrap ">
            <div class="col-12 col-sm-6 col-md-3 item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                <div class="box" data-aos="fade-down" data-aos-duration="3000">
                    <i class="fas fa-handshake"></i>
                    <p class="counterUp number" data-count="23">0+</p>
                    <span></span>
                    <p>Partnered Companies</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                <div class="box" data-aos="fade-down" data-aos-duration="3000">
                    <i class="fas fa-tasks"></i>
                    <p class="counterUp number" data-count="5000">0+</p>
                    <span></span>
                    <p>Accomplished Projects</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                <div class="box" data-aos="fade-down" data-aos-duration="3000">
                    <i class="fas fa-smile fas fa-award"></i>
                    <p class="counterUp number" data-count="3529">0+</p>
                    <span></span>
                    <p>Satisfied Clients</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                <div class="box" data-aos="fade-down" data-aos-duration="3000">
                    <i class="fas fa-pen"></i>
                    <p class="counterUp number" data-count="25">0+</p>
                    <span></span>
                    <p>Experienced Writers</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Section end-->
<section class="sectionThree">
    <div class="row position-relative" data-aos="fade-down" data-aos-duration="2000"
        style="background-color:#fff;margin:0">
        <div class="col-12 mt-5" id="standards">
            <div class="heading">
                <h1>Following Standards of</h1>
            </div>
            <div id="infinite" class="highway-slider">
                <div class="highway-barrier">
                    <ul class="highway-lane">
                        <li class="highway-car"><img src="../assets/img/logo.png" alt=""
                                style="width:150px;height:auto"></li>
                        <li class="highway-car"><img src="../assets/img/logo3.png" alt=""
                                style="width:100px;height:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo4.png" alt=""
                                style="width:100px;height:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo5.png" alt=""
                                style="height:50px;width:100px;"></li>
                        <li class="highway-car"><img src="../assets/img/logo6.png" alt=""
                                style="width:150px;height:auto"></li>

                        <li class="highway-car"><img src="../assets/img/logo.png" alt=""
                                style="width:150px;height:auto"></li>
                        <li class="highway-car"><img src="../assets/img/logo3.png" alt=""
                                style="width:100px;height:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo4.png" alt=""
                                style="width:100px;height:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo5.png" alt=""
                                style="height:50px;width:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo6.png" alt=""
                                style="width:150px;height:auto"></li>

                        <li class="highway-car"><img src="../assets/img/logo.png" alt=""
                                style="width:150px;height:auto"></li>
                        <li class="highway-car"><img src="../assets/img/logo3.png" alt=""
                                style="width:100px;height:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo4.png" alt=""
                                style="width:100px;height:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo5.png" alt=""
                                style="height:50px;width:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo6.png" alt=""
                                style="width:150px;height:auto"></li>
                        <li class="highway-car"><img src="../assets/img/logo4.png" alt=""
                                style="width:100px;height:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo5.png" alt=""
                                style="height:50px;width:100px"></li>
                        <li class="highway-car"><img src="../assets/img/logo6.png" alt=""
                                style="width:150px;height:auto"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team Start -->
<div class="container-xxl pt-5" id="team">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div>
                    <h2 class="mb-5">Meet Our Team Members</h2>
                    <p class="align-items-center" style="text-align: justify;">
                        ✅Do you own a resume writing company?

                        <br>
                        ✅Are you a Certified Professional Resume Writer or a career coach?

                        <br>

                        ♐Check our portfolio to see how we can help you grow your business!!

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <h5>Jawad Sharif</h5>
                    <p class="mb-4">CEO</p>
                    <img class="img-fluid rounded-circle w-100 mb-4" src="../assets/img/jawad.jpg" alt="">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square text-primary bg-white m-1"
                            href="https://www.upwork.com/freelancers/~01d19d638de5b0b754">
                            <i class="fas fa-magnet"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href="
                        mailto:careerscripters@gmail.com"><i class="fas fa-envelope"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1"
                            href="https://www.linkedin.com/company/resume-outsourcing-services"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <h5>Ather Javed</h5>
                    <p class="mb-4">Director/Managing partner</p>
                    <img class="img-fluid rounded-circle w-100 mb-4" src="../assets/img/ather.jpg" alt="">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-square text-primary bg-white m-1"
                            href="https://www.upwork.com/freelancers/~01a67f471a44d4a69b"><i
                                class="fas fa-magnet"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href="
                        mailto:careerscripters@gmail.com"><i class="fas fa-envelope"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1"
                            href="https://www.linkedin.com/company/resume-outsourcing-services"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        <!--Contact us Section-->
        <app-contact-us id="contact"></app-contact-us>
        <!--Contact us section end-->
    </div>
</div>